.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding:50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height:400px;
}
.footer{
    background-color:#D1C4E9;
    margin:0px auto;
    padding:20px 0px 20px 0px;

}

.jumbotron{
    margin:0px auto;
    padding:70px 30px 70px 30px;
    background-color: #9575CD;
    color:floralwhite;
}

.address{
    font-size: 80%;
    color:#0f0f0f;
    margin:0px;
}

row row-content{
    text-align: center;
}

tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}